# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
MONGO_URI=mongodb://localhost:27017/node_rest_api_db
DATABASE=node_rest_api_db

# Security
JWT_SECRET=your_super_secret_jwt_key_change_me
